################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HubBlobUpload/.vs/HubBlobUpload/v16
/HubBlobUpload/Debug
/HubBlobUpload/x64/Debug
/HubBlobUpload/.vs/HubBlobUpload
